/* Enter your custom styles here */


.page {
    background-image: url("https://i2-prod.mirror.co.uk/incoming/article13150515.ece/ALTERNATES/s1227b/0_PAY-Clock-over-door-to-Honby-library-Liverpool-central-library-Picton-reading-rooms.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}

.LOA{
    color:aquamarine
}

.homepagetext{
    color-scheme:dark ;
    color:white;
    font-size: larger;
    font-weight: bolder;
    padding-top: 510px;
    padding-left: 150px;
}

.title{
    color:green
}
.library{
    color: red;
}


.login{
color:green;

}

.classTableHeaderTitle{
    color:green
}


.LOA{
color: green;
}
    
.username{
 color:red;
}
.password{
    color:red;
}
.input{
    color: blue;
}


.loginpform{

    background-color: yellow ;
   
}

.adminheader{
    background-color: bisque;
}
.admintitle{
  background-color:  bisque;
}
.admintable{
    background-color: bisque;
}
.issuebookheader{
    background-color: beige;
}
.activeLoans{
    width: 4800px;
    height:400px;
}

.header{
    background-image: url("https://artihcus.com/assets/img/Articus_Logo%20SVG.svg");
    background-size: initial;
    background-position: initial;
    height: 30px;
}

.text{
   color: deeppink; 
}

.text1{
    color:olivedrab
}